## AML Data DE Project

In [311]:
# import libraries
import boto3 # to connect with AWS
import pandas as pd
from io import StringIO
import time

In [312]:
# access and storage folder, bucket details
AWS_ACCESS_KEY ="AKIAT4RWEQREFGOJXJ23"
AWS_SECRET_KEY ="RbgeJQZkvChj8QNlkdBx9vUswr90Chx/empBfbhF"
AWS_REGION ="us-east-1"
SCHEMA_NAME ="aml_db"
S3_STAGING_DIR="s3://manik-sample-bucket/output/"
S3_BUCKET_NAME="manik-sample-bucket"
S3_OUTPUT_DIRECTORY ="output"

In [313]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION)

In [314]:
athena_client

In [315]:
# it takes the boto3 object and dictionary and go to athena,
#execute the query and return the output and store it into the S3
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            #This function only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name = AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [316]:
# connecting to Athena to query the data from the table
response = athena_client.start_query_execution(
    QueryString = "SELECT * FROM customer_data",
    QueryExecutionContext = {'Database':SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption": "SSE_S3"}
    },
)

In [317]:
response

{'QueryExecutionId': '6afe6f33-14a5-4f1a-9bc4-d4c4c80d17b4',
 'ResponseMetadata': {'RequestId': '3a98bb51-a72b-49a5-85ce-64655cb5ba62',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 02 Jun 2023 09:10:29 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '3a98bb51-a72b-49a5-85ce-64655cb5ba62'},
  'RetryAttempts': 0}}

In [318]:
df_data = download_and_load_query_results(athena_client, response)

In [319]:
df_data.head()

,customer_id,first_name,second_name,email,gender,address,country,country_code
0,customer_id,first_name,last_name,email,gender,address,country,country_code
1,5093102954,Latashia,Fey,lfey0@altervista.org,Female,11th Floor,Spain,ES
2,5115542439,Tommi,Scafe,tscafe1@bandcamp.com,Female,18th Floor,United Kingdom,GB
3,6071531985,Lorrie,Bronger,lbronger2@xrea.com,Male,8th Floor,Poland,PL
4,6091245139,Karel,Jansie,kjansie3@nytimes.com,Male,Suite 94,China,CN

In [320]:
# droping the first row of the dataframe
df_cust = df_data.drop(0)
df_cust.head()

,customer_id,first_name,second_name,email,gender,address,country,country_code
1,5093102954,Latashia,Fey,lfey0@altervista.org,Female,11th Floor,Spain,ES
2,5115542439,Tommi,Scafe,tscafe1@bandcamp.com,Female,18th Floor,United Kingdom,GB
3,6071531985,Lorrie,Bronger,lbronger2@xrea.com,Male,8th Floor,Poland,PL
4,6091245139,Karel,Jansie,kjansie3@nytimes.com,Male,Suite 94,China,CN
5,6100259834,Emilia,Kelshaw,ekelshaw4@cam.ac.uk,Female,PO Box 64265,Yemen,YE

In [321]:
# connecting to Athena to query the data from the table
response2 = athena_client.start_query_execution(
    QueryString = "SELECT * FROM customer_account_ref",
    QueryExecutionContext = {'Database':SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption": "SSE_S3"}
    },
)

In [322]:
response2

{'QueryExecutionId': '0a575e41-9d72-4e82-8b46-9f20f910b626',
 'ResponseMetadata': {'RequestId': '9993a6a2-8d0d-4ded-b929-aee5c7d51e28',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 02 Jun 2023 09:10:35 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '9993a6a2-8d0d-4ded-b929-aee5c7d51e28'},
  'RetryAttempts': 0}}

In [323]:
df_xref = download_and_load_query_results(athena_client, response2)

In [324]:
df_xref.head()

  customer_id   account_num   open_date product     account_unique_id
0  5093102954  907530012114  11-02-2018     DDA  DDA90753001211443142
1  5115542439  833520014818  11-02-2018     SAV  SAV83352001481843142
2  6071531985  909930706736  11-02-2018     KYC  KYC90993070673643142
3  6091245139  909020027014  11-02-2018     DDA  DDA90902002701443142
4  6100259834  909020027111  11-02-2018     SAV  SAV90902002711143142

In [325]:
# connecting to Athena to query the data from the table
response3 = athena_client.start_query_execution(
    QueryString = "SELECT * FROM swift_wire",
    QueryExecutionContext = {'Database':SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption": "SSE_S3"}
    },
)

In [326]:
response3

{'QueryExecutionId': '95db166f-3962-4de7-9852-f5728d053a72',
 'ResponseMetadata': {'RequestId': 'cbccd53f-2217-458a-a67e-72395c763a20',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Fri, 02 Jun 2023 09:10:41 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'cbccd53f-2217-458a-a67e-72395c763a20'},
  'RetryAttempts': 0}}

In [327]:
df_swift = download_and_load_query_results(athena_client, response3)

In [328]:
df_swift.head()

,extract_date,batch_id,source_system,txn_ref_no_aml,sender_account_id,receiver_account_id,sender_party_id,sender_party_name,sender_party_address_country,receiver_party_id,...,stg_tag57_acctinst_acct_partyid,stg_tag57_accntwithinst_name,stg_tag58_benfinst_name,stg_tag59_benfcust_account,stg_tag59_benfcust_name,stg_tag59_benfcust_address1,txn_amount_cad,fx_rate,fx_rate_source,business_effective_date
0,13-01-2020,5346,BESS,2892964,SAV986523412503DT20140703,DDA90753001211443142,7078344,MR RAGHAVA LAWRENCE,CA,7078358,...,NaN,NaN,NOSCCATTVCR,907530012114,MRS Regina Cassandra,NEW DISNEY LAND,6672000.000,1.000000,NaN,28-02-2016
1,13-01-2020,5346,BESS,2892973,SAV986523412517DT20140703,SAV83352001481843142,7078323,MRS DEEPTHI GEORGE,CA,7078332,...,NaN,NaN,NOSCCATTVCR,833520014818,MRS RAMYA SWATHI,121 DISCO STAR ROAD,4350000.000,1.000000,NaN,28-02-2016
2,13-01-2020,5346,BESS,2892963,SAV986523412501DT20140703,KYC90993070673643142,7078342,MR PATRICK JOE,CA,7078343,...,NaN,NaN,NOSCCATTVCR,909930706736,MR Prasad Mullapudi,AVE SILVER NEW,4150000.000,1.000000,NaN,28-02-2016
3,26-03-2020,2020112,BESS,BESS|SWT|200421|00000001,BCUPCD_CRC005460637DT20180718,DDA90902002701443142,EDL|2020112|00000107,SUXXXXXXXXTO PARTS,BB,EDL|2020112|00000190,...,NaN,NOSCCAT0,NOSCBS,909020027014,PAULA ANDREA,DEPTO 1007,26.088,0.026088,WALLSTREET,29-03-2020
4,26-03-2020,2020112,BESS,BESS|SWT|200421|00000015,MCGPCD_CRC5341193012000444DT20150618,SAV90902002711143142,EDL|2020112|00000097,ESXXXXXXXXIMAGE,BB,EDL|2020112|00000062,...,NaN,NOSCCAT0,NOSCTT,909020027111,DEBORA NICOLE,departamen,130.438,0.026088,WALLSTREET,29-03-2020

In [329]:
# Just printing all tables here
df_cust = df_cust[['customer_id','first_name','second_name','country', 'country_code']]
df_cust.head()

  customer_id first_name second_name         country country_code
1  5093102954   Latashia         Fey           Spain           ES
2  5115542439      Tommi       Scafe  United Kingdom           GB
3  6071531985     Lorrie     Bronger          Poland           PL
4  6091245139      Karel      Jansie           China           CN
5  6100259834     Emilia     Kelshaw           Yemen           YE

In [330]:
df_xref = df_xref[['customer_id','account_num', 'account_unique_id']]
df_xref.head()

  customer_id   account_num     account_unique_id
0  5093102954  907530012114  DDA90753001211443142
1  5115542439  833520014818  SAV83352001481843142
2  6071531985  909930706736  KYC90993070673643142
3  6091245139  909020027014  DDA90902002701443142
4  6100259834  909020027111  SAV90902002711143142

In [331]:
df_swift = df_swift[['extract_date', 'source_system','txn_ref_no_aml','receiver_account_id','reci_bank_id'
                                 ,'stg_tag59_benfcust_account','stg_tag59_benfcust_name','stg_tag59_benfcust_address1','business_effective_date']]

In [332]:
df_swift.head()

,extract_date,source_system,txn_ref_no_aml,receiver_account_id,reci_bank_id,stg_tag59_benfcust_account,stg_tag59_benfcust_name,stg_tag59_benfcust_address1,business_effective_date
0,13-01-2020,BESS,2892964,DDA90753001211443142,NOSCCA,907530012114,MRS Regina Cassandra,NEW DISNEY LAND,28-02-2016
1,13-01-2020,BESS,2892973,SAV83352001481843142,NOSCCA,833520014818,MRS RAMYA SWATHI,121 DISCO STAR ROAD,28-02-2016
2,13-01-2020,BESS,2892963,KYC90993070673643142,NOSCCA,909930706736,MR Prasad Mullapudi,AVE SILVER NEW,28-02-2016
3,26-03-2020,BESS,BESS|SWT|200421|00000001,DDA90902002701443142,NOSCBS,909020027014,PAULA ANDREA,DEPTO 1007,29-03-2020
4,26-03-2020,BESS,BESS|SWT|200421|00000015,SAV90902002711143142,NOSCTT,909020027111,DEBORA NICOLE,departamen,29-03-2020

In [333]:
# taking s3 bucket
bucket = 'manik-sample-bucket'

In [334]:
csv_buffer = StringIO()

In [335]:
csv_buffer

In [336]:
# now we are puting all our dataframes into csv buffer
df_cust.to_csv(csv_buffer)

In [337]:
# now store all those files part of csv buffer into S3
s3_resource = boto3.resource(
    "s3",
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION)

In [338]:
# loading df_cust dataframe into S3 bucket under output folder

s3_resource.Object(bucket, 'output1/cust_data.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '0WCQ1TF42N9EWGRT',
  'HostId': 'wQPTEa0iK4C7amXC/CxuH1KhqV0yKCl1WEhYVSdMi2QQwEH+Ms2554hrTR56k6DargLf0fcbH4N1ghi4K8B4CQ==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'wQPTEa0iK4C7amXC/CxuH1KhqV0yKCl1WEhYVSdMi2QQwEH+Ms2554hrTR56k6DargLf0fcbH4N1ghi4K8B4CQ==',
   'x-amz-request-id': '0WCQ1TF42N9EWGRT',
   'date': 'Fri, 02 Jun 2023 09:11:45 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"a79eb9f56d3f0f5057f47b02bae7436d"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"a79eb9f56d3f0f5057f47b02bae7436d"',
 'ServerSideEncryption': 'AES256'}

In [339]:
# loading df_xref into s3 bucket
df_xref.to_csv(csv_buffer)

s3_resource.Object(bucket, 'output1/xref_data.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'N08NXR9EN94CZRWQ',
  'HostId': 'NlTGspx0T3xINaIjAXVRd04jYlESNHL794/k8uQ2z11TpJFKai8i2M+eM+RgslkfefoAf+Ps43/Zk7o3EJM/eg==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'NlTGspx0T3xINaIjAXVRd04jYlESNHL794/k8uQ2z11TpJFKai8i2M+eM+RgslkfefoAf+Ps43/Zk7o3EJM/eg==',
   'x-amz-request-id': 'N08NXR9EN94CZRWQ',
   'date': 'Fri, 02 Jun 2023 09:11:46 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"5d7c01ad662ff78826fe4b503db0911a"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"5d7c01ad662ff78826fe4b503db0911a"',
 'ServerSideEncryption': 'AES256'}

In [340]:
# loading df_xref into s3 bucket
df_swift.to_csv(csv_buffer)

s3_resource.Object(bucket, 'output1/swift_data.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '5E9BDWANJ0FQHDAJ',
  'HostId': 'fz+zDCVY+N9t2ZvhksrnSKTdHz8/L1CsHUqEprN+psAY3VxjWrnQxqySohvH/S/ulSfGGaVAq4drws6Sdyt1Mg==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'fz+zDCVY+N9t2ZvhksrnSKTdHz8/L1CsHUqEprN+psAY3VxjWrnQxqySohvH/S/ulSfGGaVAq4drws6Sdyt1Mg==',
   'x-amz-request-id': '5E9BDWANJ0FQHDAJ',
   'date': 'Fri, 02 Jun 2023 09:11:51 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"9434f96b82f788f9e36551ea12c6b478"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"9434f96b82f788f9e36551ea12c6b478"',
 'ServerSideEncryption': 'AES256'}

In [341]:
# extracting the schema of a table
cust_schema = pd.io.sql.get_schema(df_cust.reset_index(), 'customer_table')
print(''.join(cust_schema))

CREATE TABLE "customer_table" (
"index" INTEGER,
  "customer_id" TEXT,
  "first_name" TEXT,
  "second_name" TEXT,
  "country" TEXT,
  "country_code" TEXT
)

In [342]:
xref_schema = pd.io.sql.get_schema(df_xref.reset_index(), 'xref_table')
print(''.join(xref_schema))

CREATE TABLE "xref_table" (
"index" INTEGER,
  "customer_id" TEXT,
  "account_num" INTEGER,
  "account_unique_id" TEXT
)

In [343]:
swift_schema = pd.io.sql.get_schema(df_swift.reset_index(), 'swift_table')
print(''.join(swift_schema))

CREATE TABLE "swift_table" (
"index" INTEGER,
  "extract_date" TEXT,
  "source_system" TEXT,
  "txn_ref_no_aml" TEXT,
  "receiver_account_id" TEXT,
  "reci_bank_id" TEXT,
  "stg_tag59_benfcust_account" TEXT,
  "stg_tag59_benfcust_name" TEXT,
  "stg_tag59_benfcust_address1" TEXT,
  "business_effective_date" TEXT
)

## connecting to the redshift connector

### this code should run from Glue ETL Job

In [359]:
import redshift_connector

try:
    # establishing the connection with Redshift using redshift_connector
    conn = redshift_connector.connect(
        host='manik-redshift-cluster-1.clmickzggmkl.us-east-1.redshift.amazonaws.com',
        port = 5439,
        database='dev',
        user='awsuser',
        password='Password1'
    )
    # by default it will execute after the query select statement
    conn.autocommit = True

    # command to get the redshift cursor
    cursor = redshift_connector.Cursor = conn.cursor()

    try:
        cursor.execute("""CREATE TABLE "customer_table" (
              "index" INTEGER,
              "customer_id" TEXT,
              "first_name" TEXT,
              "second_name" TEXT,
              "country" TEXT,
              "country_code" TEXT
              )""")

        cursor.execute("""CREATE TABLE "xref_table" (
              "index" INTEGER,
              "customer_id" TEXT,
              "account_num" INTEGER,
              "account_unique_id" TEXT
              )""")

        cursor.execute("""CREATE TABLE "swift_table" (
            "index" INTEGER,
              "extract_date" TEXT,
              "source_system" TEXT,
              "txn_ref_no_aml" TEXT,
              "receiver_account_id" TEXT,
              "reci_bank_id" TEXT,
              "stg_tag59_benfcust_account" TEXT,
              "stg_tag59_benfcust_name" TEXT,
              "stg_tag59_benfcust_address1" TEXT,
              "business_effective_date" TEXT
            )""")
    except Exception as e:
        # Handle the exception/error for the first data ingestion command
        print("Error occurred during the Tables creation:", e)

    try:
        cursor.execute("""
            copy customer_table from 's3://manik-sample-bucket/output1/cust_data.csv'
            credentials 'arn:aws:iam::267475256392:role/manik_role'
            delimiter ','
            region 'us-east-1'
            IGNOREHEADER 1
            """)
    except Exception as e:
        print("Error: Issue with inserting data into table")
        print(e)

    try:
        cursor.execute("""
            copy xref_table from 's3://manik-sample-bucket/output1/xref_data.csv'
            credentials 'arn:aws:iam::267475256392:role/manik_role'
            delimiter ','
            region 'us-east-1'
            IGNOREHEADER 1
            """)
    except Exception as e:
        print("Error: Issue with inserting data into table")
        print(e)

    try:
        cursor.execute("""
            copy swift_table from 's3://manik-sample-bucket/output1/swift_data.csv'
            credentials 'arn:aws:iam::267475256392:role/manik_role'
            delimiter ','
            region 'us-east-1'
            IGNOREHEADER 1
            """)
    except Exception as e:
        print("Error: Issue with inserting data into table")
        print(e)

except Exception as e:
    print("Issue with making connection to Redshift Data Warehouse\n")
    print(e)
finally:
    conn.close()
    cursor.close()